<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button class="menu-button" mat-button (click)="openSideBar()" [ngClass]="{'nav-open':opened}">
          <mat-icon>home</mat-icon>
        </button>
      </li>
      <li class="nav-item">
        <a class="nav-link header-links" [routerLink]="['/manage-users']">Home</a>
      </li>
    </ul>
  </div>
  <div class="pull-right">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link header-links" (click)="logoutAdmin()" [ngStyle]="{'cursor': 'pointer'}">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="main-page">
  <mat-sidenav-container class="example-container" *ngIf="shouldRun">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
      <li class="list-group-item" routerLinkActive="active">
        <a class="nav-link  side-navigation" [routerLink]="['/manage-users']">User Management </a>
      </li>
      <li class="list-group-item" routerLinkActive="active">
        <a class="nav-link side-navigation" [routerLink]="['/manage-lawyers']">Lawyer Management </a>
      </li>
      <li class="list-group-item" routerLinkActive="active">
        <a 
        class="nav-link side-navigation" 
        (click) = "toggleCmsSubmenu()"
        [ngStyle] = "{'cursor': 'pointer'}">CMS Management </a>
        <div *ngIf = "cmsSubmenuOpened">
        <ul>
          <li class="list-group-item">
            <a class="nav-link side-navigation" [routerLink]="['/manage-cms-pages/about-us']">About Us</a>
          </li>
          <li class="list-group-item">
            <a class="nav-link side-navigation" [routerLink]="['/contact-us']">Contact Us</a>
          </li>
          <li class="list-group-item">
            <a class="nav-link side-navigation" [routerLink]="['/terms-privacy']">Terms & Conditions</a>
          </li>
        </ul>
      </div>
      </li>
      <li class="list-group-item" routerLinkActive="active">
        <a class="nav-link side-navigation" [routerLink]="['/posts']">Settings </a>
      </li>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>
