<mat-card>
  <mat-card-title>
    Login
  </mat-card-title>
  <mat-card-content>
    <div class="row">
      <div class="col-xs-12 col-lg-8 col-sm-6 col-md-4 offset-sm-1 offset-md-2">
        <form (ngSubmit)="onLogin()" [formGroup]="signupForm">
          <div class="form-group">
            <label>First Name:</label>
            <input type="text" class="form-control" formControlName="firstName">
            <span class="help-text" *ngIf = "signupForm.get('firstName').invalid && signupForm.get('firstName').touched">
              <span *ngIf="signupForm.get('firstName').errors.required">
                Please enter first name!
              </span>
              <span *ngIf="signupForm.get('firstName').errors.minlength">
                Please enter first name of minimum length 4
              </span>
            </span>
          </div>

            <div class="form-group">
            <label>Last Name:</label>
            <input type="text" class="form-control" formControlName="lastName">
            <span class="help-text" *ngIf = "signupForm.get('lastName').invalid && signupForm.get('lastName').touched">
              <span *ngIf="signupForm.get('lastName').errors.required">
                Please enter Last name!
              </span>
              <span *ngIf="signupForm.get('lastName').errors.minlength">
                Please enter last name of minimum length 4
              </span>
            </span>
          </div>

          <div class="form-group">
            <label>E-mail:</label>
            <input type="text" class="form-control" formControlName="email">
            <span class="help-text" *ngIf = "signupForm.get('email').invalid && signupForm.get('email').touched">
              <span *ngIf="signupForm.get('email').errors.required">
                Please enter email!
              </span>
              <span *ngIf="signupForm.get('email').errors.email">
                Please enter a valid email!
              </span>
            </span>
          </div>

          <div class="form-group">
            <label>Password:</label>
            <input type="password" class="form-control" formControlName="password">
            <span class="help-text" *ngIf = "signupForm.get('password').invalid && signupForm.get('password').touched">
              <span *ngIf="signupForm.get('password').errors.required">
                Please enter password!
              </span>
              <span *ngIf="signupForm.get('password').errors.minlength">
                Please enter a password of minimum length 6
              </span>
            </span>
          </div>

          <div class="form-group">
            <label>Password:</label>
            <input type="password" class="form-control" formControlName="confirmPassword">
            <span class="help-text" *ngIf = "signupForm.get('confirmPassword').invalid && signupForm.get('confirmPassword').touched">
              <span *ngIf="signupForm.get('confirmPassword').errors.required">
                Please enter password!
              </span>
              <span *ngIf="signupForm.get('confirmPassword').errors.minlength">
                Please enter a password of minimum length 6
              </span>
            </span>
          </div>

          <div class="form-group">
            <div>Already have account?
              <button class="btn btn-primary" [routerLink] = "['/']">Login</button>
            </div>
          </div>

          <button [disabled]="!signupForm.valid" class="btn btn-primary" type="submit">Sign up</button>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>
