.btn {
    margin: 10px;
}

.row {
    margin-left: 10px;
}

.test-me {
    background-color: red;
    border: 1px solid black;
}

.test-me-before {
    background-color: green;
    border: 1px solid black;
}