<div class="modal">
  <div class="modal-header">
    User Information:
  </div>
  <div class="modal-content">
    <form [formGroup]="editForm">
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label> First Name:</label>
            <input type="text" formControlName="firstName">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label> Last Name:</label>
            <input type="text" formControlName="lastName">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label> Email:</label>
        <input type="text" formControlName="email">
      </div>
    </form>
  </div>
</div>
